<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<style type="text/css"> 
		#mydiv 
		{
	position:absolute;
			top: 5%;
			left: 50%;
			width:30em;
			height:630em
			margin-top: -9em; /*set to a negative number 1/2 of your height*/
			margin-left: -15em; /*set to a negative number 1/2 of your width*/
			border: 1px solid #ccc;
			background-color: #f3f3f3;
		}
	</style>
     <title>All Quesitons</title>

   </head>
	<body>
		<div id="mydiv">
		<form action="{{ path('process') }}" method="post">
		{% if error %}
		<div>{{ error}}</div>
		{% endif %}
		{% for item in questions %}
			{% if (item.qid==4) %}
			{{ item.q_name }}<br>
				<input type="checkbox" name="q4[]" value="{{ item.option_1}}">{{ item.option_1}}<br>
				<input type="checkbox" name="q4[]" value="{{ item.option_2}}">{{ item.option_2}}<br>
				<input type="checkbox" name="q4[]" value="{{ item.option_3}}">{{ item.option_3}}<br>
				<input type="checkbox" name="q4[]" value="{{ item.option_4}}">{{ item.option_4}}<br>
				<input type="checkbox" name="q4[]" value="{{ item.option_5}}">{{ item.option_5}}<br>
			{% endif %}
		{% if (item.qid==5) %}
			{{ item.q_name }}<br>
				<input type="radio" name="q5" value="{{ item.option_1}}">{{ item.option_1}}<br>
				<input type="radio" name="q5" value="{{ item.option_2}}">{{ item.option_2}}<br>
				<b>if yes</b><br>
				<input type="radio" name="yes" value="{{ item.option_3}}">{{ item.option_3}}<br>
				<input type="radio" name="yes" value="{{ item.option_4}}">{{ item.option_4}}<br>
				<input type="radio" name="yes" value="{{ item.option_5}}">{{ item.option_5}}<br>
			{% endif %}
			{% if (item.qid==6) %}
				{{ item.q_name }}<br>
				<input type="radio" name="q6" value="{{ item.option_1}}">{{ item.option_1}}<br>
				<input type="radio" name="q6" value="{{ item.option_2}}">{{ item.option_2}}<br>
				<input type="radio" name="q6" value="{{ item.option_3}}">{{ item.option_3}}<br>
				<input type="radio" name="q6" value="{ item.option_4}}">{{ item.option_4}}<br>
				<input type="radio" name="q6" value="{{ item.option_5}}">{{ item.option_5}}<br>
					<input type="radio" name="q6" value="{{ item.option_6}}">{{ item.option_6}} <br>
			{% endif %}
		{% endfor %}
		<button type="submit">submit</button> <br>
	 </form>
   </mydiv>
  </body>
</html>